@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <div class="text-left">
        <p><a href="/Home/Index/1">Trigger an exceptionn</a>.</p>
        <p><a href="/Home/Index/2">Return a 500 error.</a>.</p>
        <p><a href="/Home/Index/3">Not Found Trigger</a>.</p>
    </div>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
